/*Avenir*/
@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenir/AvenirLTStd-Book.eot');
    src: url('../fonts/avenir/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/avenir/AvenirLTStd-Book.woff2') format('woff2'), url('../fonts/avenir/AvenirLTStd-Book.woff') format('woff'), url('../fonts/avenir/AvenirLTStd-Book.ttf') format('truetype'), url('../fonts/avenir/AvenirLTStd-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Avenir*/
@font-face {
    font-family: 'avenir-roman';
    src: url('../fonts/avenir_roman/AvenirLTStd-Roman.eot');
    src: url('../fonts/avenir_roman/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/avenir_roman/AvenirLTStd-Roman.woff') format('woff'), url('../fonts/avenir_roman/AvenirLTStd-Roman.ttf') format('truetype'), url('../fonts/avenir_roman/AvenirLTStd-Roman.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Avenir*/
@font-face {
    font-family: 'avenir-black';
    src: url('../fonts/avenir-black/AvenirLTStd-Black.eot');
    src: url('../fonts/avenir-black/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/avenir-black/AvenirLTStd-Black.woff') format('woff'), url('../fonts/avenir-black/AvenirLTStd-Black.ttf') format('truetype'), url('../fonts/avenir-black/AvenirLTStd-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Avenir*/
@font-face {
    font-family: 'avenir-heavy';
    src: url('../fonts/avenir_heavy/AvenirLT-Heavy.eot');
    src: url('../fonts/avenir_heavy/AvenirLT-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/avenir_heavy/AvenirLT-Heavy.woff') format('woff'), url('../fonts/avenir_heavy/AvenirLT-Heavy.ttf') format('truetype'), url('../fonts/avenir_heavy/AvenirLT-Heavy.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 1200px){
    .custom-cart-wrapper .container{
        width: 1170px;
        padding: 0;
    }
}

.custom-cart-wrapper{
    min-height: 500px;
}
.cart-boxes{
    background-color: #f7f7f7;
    border-bottom: 1px solid #d9d9d9;
    padding: 22px 0px 31px;
}
.cart-top-wrapper .heading{
    font-size: 30px;
    line-height: normal;
    color: #333333;
    font-family: "avenir-black","avenir-heavy",Times , serif;
    margin-top: 0;
    margin-bottom: 6px;
}
.cart-top-wrapper .para{
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    font-family: "avenir-roman","avenir-book",Times , serif;
    margin: 0 auto;
    margin-bottom: 15px;
}
.change-currency{
    display: inline-block;
    width: 100%;
    font-family: "avenir-roman","avenir-book",Times , serif;
    color: #333333;
    margin: 30px 0 37px;
}
.change-currency span{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-family: inherit;
    line-height: normal;
    color: inherit;
}
.change-currency .heading{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    color: #031619;
    font-family: "avenir-black","avenir-book",Times , serif;
    line-height: normal;
    width: 100%;
    margin-bottom: 9px;
}
.change-currency i{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: #545454;
    font-style: normal;
    position: relative;
    padding-left: 0;
}
.change-currency span i:after{
    content: "";
    position: absolute;
    top: 0;
    left: 3px;
    width: 1px;
    height: 100%;
    background-color: #545454;
}
.change-currency span.currency-select-box{
    display: inline-block;
    min-width: 82px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #d9d9d9;
    margin-left: 5px;
    padding: 4px 10px;
    position: relative;
}
.change-currency span.currency-select-box:after{
    display: inline-block;
    content: "";
    position: absolute;
    top: 11px;
    right: 11px;
    background: url("https://d1v4btv2rwszby.cloudfront.net/public/images/007-test-cart-arrow-field.png") no-repeat transparent;
    width: 14px;
    height: 8px;
}
.change-currency span.currency-select-box:hover,
.change-currency span.currency-select-box:focus{
    cursor: pointer;
}
.change-currency span.currency-select-box b{
    display: inline-block;
    font-size: 14px;
    color: #333333;
    font-weight: normal;
}
.change-currency span.currency-select-box.active ul{
    z-index: 2;
    /*min-height: 55px;*/
    transform: scaleY(1);
}
.change-currency span.currency-select-box ul{
    display: inline-block;
    min-width: 82px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    font-size: 14px;
    color: #545454;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #d9d9d9;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.26s ease;
}
.change-currency span.currency-select-box ul li{
    display: inline-block;
    line-height: 30px;
    width: 100%;
    margin-bottom: 0;
    padding: 0 5px;
    text-align: center;
    transition: all 0.15s ease-in-out;
}
.change-currency span.currency-select-box ul > li:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.change-currency span.currency-select-box ul > li:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.cart-boxes-wrapper{
    display: inline-block;
    width: 100%;
}
.cart-boxes-wrapper .cart-box{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cart-box .cart-box-inner{
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    border: 3px solid transparent;
    min-height: 300px;
    border-radius: 5px;
    padding: 23px 10px 14px;
    box-shadow: 0 0 0 1px #d9d9d9;
}
.cart-boxes-wrapper{
    margin-left: -20px;
    margin-right: -20px;
}
.cart-box .cart-box-duration {
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
}
.cart-box .cart-box-duration span{
    font-size: 14px;
    color: #333333;
    font-family: "avenir-heavy", Times , serif;
}
.cart-box .cart-box-duration:after{
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border: 1px solid #d9d9d9;
    position: absolute;
    top: 0;
    left: 4px;
}
.cart-box.active .cart-box-duration:before{
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50px;
    position: absolute;
    top: 4px;
    left: 8px;
    background-color: #d9d9d9;
    animation-duration: .2s;
    animation-name: select-radio;
    animation-iteration-count: 1;
    animation-direction: Normal;
}
.cart-box .cart-box-price{
    display: inline-block;
    width: 100%;
    line-height: 60px;
    font-size: 60px;
}
.cart-box .cart-box-price b{
    display: inline-block;
    font-size: 60px;
    color: #333333;
    font-family: "avenir-black",Times,serif;
    font-weight: normal;
    position: relative;
    letter-spacing: -0.6px;
}
.cart-box .cart-box-price b sup{
    position: absolute;
    font-family: "avenir-roman",Times,serif;
    font-size: 14px;
    top: 15px;
    left: -33px;
}
.cart-box .cart-box-month-div{
    display: inline-block;
    width: 100%;
}
.cart-box .cart-box-month-div{
    display: inline-block;
    width: 100%;
    font-size: 13px;
    font-family: "avenir-roman",Times,serif;
    color: rgba(84, 84, 84, 0.8);
    vertical-align: middle;
    margin-top: -15px;
}
.cart-box .cart-box-dscnt{
    display: inline-block;
    width: 100%;
    line-height: 12px;
}
.cart-box .cart-box-dscnt span{
    padding: 7px 10px;
    border-radius: 12.5px;
    color: #ffffff;
    font-size: 12px;
    font-family: "avenir-heavy",Times,serif;
    background-color: #acacac;
    vertical-align: middle;
    max-height: 25px;
    display: inline-block;
    line-height: 12px;
}
.cart-box .cart-box-btn-wrap{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.cart-box .cart-box-btn-wrap .cart-box-btn{
    display: inline-block;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #acacac;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    width: 100%;
    max-width: 240px;
    line-height: normal;
    min-height: 55px;
    text-align: center;
}
.cart-box .cart-box-btn-wrap .cart-box-btn span{
    font-family: "avenir-black",Times,serif;
    font-size: 16px;
    color: #fff;
    vertical-align: middle;
    line-height: 43px;
}
.cart-box .cart-box-btm-text{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 8px;
}
.cart-box .cart-box-btm-text span{
    font-family: "avenir-roman",Times,serif;
    font-size: 12px;
    color: #acacac;
    vertical-align: middle;
    letter-spacing: 0.18px;
    line-height: 20px;
}


/*COLORS START*/
.cart-box.active .cart-box-inner{
    border: 3px solid #2dbd46;
    box-sizing: border-box; 
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: none;
}
.change-currency span.currency-select-box ul li:hover{
    background-color: #2dbd46;
    color: #ffffff;
}
.cart-box.active .cart-box-duration:after{
    border-color: #2dbd46;
}
.cart-box.active .cart-box-duration:before{
    background-color: #2dbd46;
}
.cart-box .cart-box-btn-wrap .cart-box-btn:hover,
.cart-box .cart-box-btn-wrap .cart-box-btn:active,
.cart-box .cart-box-btn-wrap .cart-box-btn:focus,
.cart-box.active .cart-box-btn-wrap .cart-box-btn{
    background: #2dbd46;
}
/*COLORS END*/

.gateway-wrapper .gateway-methods{
    display: inline-block;
    width: 100%;
    margin: 30px 0;
}
.gateway-wrapper .get-acct-details{
    display: inline-block;
    width: 100%;
    max-width: 372px;
}
.gateway-wrapper .get-acct-details .img-responsive{
    margin-top: -5px;
    margin-bottom: 20px;
}
.gateway-wrapper .get-acct-details .heading {
    color: #333333;
    font-family: "avenir-roman",Times,serif;
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: -.2px;
}
.gateway-wrapper .get-acct-details ul {
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}
.gateway-wrapper .trustpilot-image {
    border: 1px solid #eee;
    margin-top: 18px;
}
.gateway-wrapper .get-acct-details ul li {
    font-size: 18px;
    color: #545454;
    display: inline-block;
    width: 100%;
    font-family: "avenir-roman",Times,serif;
    line-height: normal;
    position: relative;
    padding-left: 29px;
    margin-bottom: 26px;
}
.gateway-wrapper .get-acct-details ul li .icon-check {
    display: inline-block;
    background: url(https://d1v4btv2rwszby.cloudfront.net/public/images/79738-sprite-2.png) no-repeat -2px -2px;
    width: 14px;
    height: 16px;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 3px;
}

.gateway-wrapper .gateway-method{
    display: inline-block;
    padding-left: 0;
    padding-right: 12px;
    margin-bottom: 10px;
}
.gateway-wrapper .gateway-methods > .gateway-method:nth-child(3),
.gateway-wrapper .gateway-methods > .gateway-method:nth-child(6){
    padding-right: 0;
}
.gateway-wrapper .gateway-method .gateway-method-inr{
    width: 100%;
    border: 1px solid #e1e1e1;
    height: 56px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: content-box;
}
.gateway-wrapper .gateway-method .gateway-method-inr:hover{
    cursor: pointer;
}
.gateway-wrapper{
    padding: 38px 0 45px;
}
.gateway-wrapper .top{
    display: inline-block;
    width: 100%;
}
.gateway-wrapper .top .first{
    color: #333333;
    font-family: "avenir-black",Times,serif;
    font-size: 40px;
    display: block;
    margin-bottom: 5px;
}
.gateway-wrapper .top .second{
    color: #545454;
    font-family: "avenir-roman",Times,serif;
    font-size: 18px;
}
.gateway-wrapper .top img{
    position: relative;
    top: -10px;
}
.gateway-wrapper .icon.encrypt-icon{
    display: inline-block;
    width: 15px;
    height: 18px;
    background: url("https://d1v4btv2rwszby.cloudfront.net/public/images/82277_ic-encrypted.png") no-repeat top center transparent;
}
.gateway-wrapper .top .icon.encrypt-icon{
    margin-right: 8px;
}
.gateway-wrapper .gateway-method span{
    position: relative;
    width: 100%;
    display: inline-block;
    padding-left: 45px;
}
.gateway-wrapper  .gateway-method-inr{
    position: relative;
}
.gateway-wrapper .gateway-method .gateway-method-inr:after {
    content: "";
    height: 18px;
    width: 18px;
    border-radius: 50px;
    border: 1px solid #d9d9d9;
    position: absolute;
    top: 18px;
    left: 17px;
}
.gateway-wrapper .gateway-method .gateway-method-inr:before {
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50px;
    position: absolute;
    top: 21px;
    left: 20px;
}
.gateway-wrapper .gateway-method.active .gateway-method-inr {
    border-color: #2dbd46;
}
.gateway-wrapper .gateway-method.active .gateway-method-inr:after {
    border-color: #2dbd46;
    background-color: transparent;
    animation-duration: .2s;
    animation-name: select-radio;
    animation-iteration-count: 1;
    animation-direction: Normal;
}
.gateway-wrapper .gateway-method.active .gateway-method-inr:before {
    background-color: #2dbd46;
}
/*.gateway-wrapper .gateway-method span i{
    display: block;
    margin-top: -1px;
    width: 100%;
    font-style: normal;
    color: #acacac;
    font-family: "avenir-roman",Times,serif;
    font-size: 12px;
}*/
.gateway-wrapper  .gateway-method .gateway-method-inr{
    display: inline-block;
    background-repeat: no-repeat;
}
.gateway-wrapper  #stripe.gateway-method .gateway-method-inr{
    background-image: url('https://d1v4btv2rwszby.cloudfront.net/public/images/88277_img_credit_card.png');
    background-position: 46px center;
}
.gateway-wrapper  #paypal.gateway-method .gateway-method-inr{
    background-image: url('https://d1v4btv2rwszby.cloudfront.net/public/images/82277_ic-paypal.png');
    background-position: 48px center;
}
.gateway-wrapper  #crypto.gateway-method .gateway-method-inr{
    background-image: url('https://d1v4btv2rwszby.cloudfront.net/public/images/88277_img_cryptpo.png');
    background-position: 48px center;
}
.gateway-wrapper  #alipay.gateway-method .gateway-method-inr{
    background-image: url('https://d1v4btv2rwszby.cloudfront.net/public/images/82277_ic-alipay.png');
    background-position: 48px center;
}
.gateway-wrapper  #bluesnap.gateway-method .gateway-method-inr{
    background-image: url('https://d1v4btv2rwszby.cloudfront.net/public/images/82277_ic-bluesnap.png');
    background-position: 48px center;
}
.gateway-wrapper  #giftcard.gateway-method .gateway-method-inr{
    background-image: url('https://d1v4btv2rwszby.cloudfront.net/public/images/82277_ic-paygarden.png');
    background-position: 48px center;
}
.gateway-wrapper .devices-text{
    font-style: normal;
}
.gateway-wrapper .icon-apps{
    background-image: url('https://d1v4btv2rwszby.cloudfront.net/public/images/new_gateway_devices_icons.png');
    background-repeat: no-repeat;
    height: 15px;
    display: inline-block;
    opacity: 0.6;
    margin: 0 5px;
    vertical-align: middle;
}
.gateway-wrapper .icon-apps.icon-win{
    background-position: -2px -123px;
    width: 14px;
}
.gateway-wrapper .icon-apps.icon-mac{
    background-position: -2px -86px;
    width: 12px;
}
.gateway-wrapper .icon-apps.icon-andrd{
    background-position: 0 0;
    width: 13px;
}
.gateway-wrapper .icon-apps.icon-ios{
    background-position: -2px -26px;
    width: 21px;
}
.gateway-wrapper .icon-apps.icon-linux{
    background-position:-2px -56px;
    width: 12px;
}
.payment-details{
    display: inline-block;
    width: 100%;
    background-color: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 15px;
    position: relative;
}
.payment-details .payment-top{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 4px;
}
.payment-details .payment-plan{
    display: inline-block;
    width: 100%;
    margin-bottom: 3px;
}
.payment-details .payment-plan span{
    display: inline-block;
    vertical-align: middle;
    color: #333333;
    font-family: "avenir-roman",Times,serif;
    font-size: 16px;
}
.payment-details .payment-plan-discount{
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
.payment-details .payment-plan-discount span,
.payment-details .payment-plan-discount-coupon span{
    display: inline-block;
    vertical-align: middle;
    color: #333333;
    font-family: "avenir-roman",Times,serif;
    font-size: 16px;
}
.payment-details .payment-plan-discount > span:last-child,
.payment-details .payment-plan-discount-coupon > span:last-child{
    display: inline-block;
    vertical-align: middle;
    color: #f45f5f;
    font-family: "avenir-roman",Times,serif;
    font-size: 16px;
}
.payment-details .payment-total{
    display: inline-block;
    width: 100%;
    margin-top: 12px;
}
.payment-details .payment-total span{
    display: inline-block;
    vertical-align: middle;
    color: #333333;
    font-family: "avenir-black",Times,serif;
    font-size: 24px;
}
.payment-details .payment-coupon{
    display: inline-block;
    width: 100%;
    margin-top: 2px;
}
.payment-details .payment-coupon span{
    display: inline-block;
    vertical-align: middle;
    color: #545454;
    font-family: "avenir-roman",Times,serif;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 15px;
}
.payment-details .payment-form{
    display: inline-block;
    width: 100%;
}
.payment-details .payment-coupon .payment-coupon-box.active{
    display: inline-block;
}
.payment-details .payment-coupon .payment-coupon-box.coupon-applied{
    margin: 0 0 10px;
}
.payment-details .payment-coupon .payment-coupon-box{
    display: none;
    width: 100%;
    max-width: 190px;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #b9babd;
    border-radius: 3px;
    margin: 0 0 16px;
    overflow: visible;
    position: relative;
}
.payment-details .payment-coupon .payment-coupon-box .payment-coupon-inpt{
    display: inline-block;
    max-width: 130px;
    border: none;
    margin: 0;
    padding: 0;
    float: left;
    height: 27px;
    padding-left: 10px;
    font-size: 12px;
}
.payment-details .payment-coupon .payment-coupon-box .payment-coupon-btn{
    display: inline-block;
    width: 100%;
    max-width: 56px;
    padding: 0px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 3px;
    height: 24px;
    margin-top: 2px;
    color: #fff;
}
.payment-details .payment-coupon .payment-coupon-box .payment-coupon-btn:focus{
    outline: none;
}
.payment-details .payment-coupon .payment-coupon-box .payment-coupon-btn.focus-coupon{
    background-color: #333333;
    color: #ffffff;
}
.payment-details .payment-coupon .payment-coupon-box .payment-coupon-btn.disabled{
    background-color: #bbb9b9;
    color: #ffffff;
    pointer-events: none;
}
.payment-details .payment-coupon .payment-coupon-box .payment-coupon-cancel{
    display: none;
}
.payment-details .payment-coupon .payment-coupon-box.coupon-applied .payment-coupon-btn,
.payment-details .payment-coupon .payment-coupon-box.coupon-applied .payment-coupon-cancel{
    display: block;
}
.payment-details .payment-coupon .payment-coupon-box .payment-coupon-cancel:focus{
    outline: none;
}
/*.payment-details .payment-coupon .payment-coupon-box.coupon-applied .payment-coupon-btn.focus-coupon{
    background-color: #ffffff;
    border: 1px solid #b9babd;
}*/
.payment-details .payment-coupon .payment-coupon-box .payment-coupon-cancel{
    display: none;
    width: 100%;
    max-width: 18px;
    padding: 0px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 9px;
    height: 18px;
    margin: 5px;
    float: right;
    background-color: #687375;
    position: absolute;
    top: 0;
    right: -30px;
}
.payment-details .payment-coupon .payment-coupon-box .payment-coupon-cancel i.close-icon{
    margin: 0;
    text-decoration: none;
    color:#fff;
    font-style: normal;

}
.payment-details .payment-coupon .payment-coupon-box-message{
    display: none;
    width: 100%;
}
.payment-details .payment-coupon .payment-coupon-box-message.active{
    display: inline-block;
}
.payment-details .payment-coupon .payment-coupon-box-message span{
    font-size: 12px;
    color: #333333;
    cursor: default;
}
.payment-details .payment-coupon .payment-coupon-box-message.success-msg span{
    color: #2dbd46;
}
.payment-details .payment-coupon .payment-coupon-box-message.error span{
    color: #f45f5f;
}
.payment-details .payment-plan-discount-coupon{
    display: none;
    width: 100%;
    margin-bottom: 10px;
}
.payment-details .payment-plan-discount-coupon.active{
    display: inline-block;
}
.payment-details .payment-form .form-group{
    margin-bottom: 12px;
}
.payment-details .payment-form .email,
.payment-details .payment-form  .card-holder{
    margin: 0 0 10px;
}
.payment-details .payment-form .form-control{
    border-radius: 3px;
    line-height: normal;
    height: 45px;
    border: 1px solid #b9babd;
    box-shadow: none;
    
}
.payment-details .payment-form .form-control.error{
    border: 1px solid red;
}
.payment-details .payment-coupon-inpt::placeholder ,
.payment-details .payment-form .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cacdd0;
    opacity: 1; /* Firefox */
}
.payment-coupon-inpt::-ms-clear{
    display: none;
}
.payment-details .payment-coupon-inpt:-ms-input-placeholder ,
.payment-details .payment-form .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cacdd0;
}

.payment-details .payment-coupon-inpt::-ms-input-placeholder ,
.payment-details .payment-form .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #cacdd0;
}

.payment-details .payment-form .wt-checkTerms {
    display: inline-block;
    width: 100%;
    margin-bottom: 12px;
    margin-top: 20px;
}

.payment-details .payment-form .wt-checkTerms span {
    color: #545454;
    font-size: 12px;
    font-family: "avenir-roman",Times,serif;
}
.payment-details .payment-form .wt-checkTerms span i{
    font-style: normal;
}
.payment-details .payment-form .wt-checkTerms span a {
    color: #545454;
    text-decoration: underline;
}
.payment-details .payment-form .wt-checkTerms span a:hover,
.payment-details .payment-form .wt-checkTerms span a:active,
.payment-details .payment-form .wt-checkTerms span a:focus {
    color: #a8a8a8;
}
.payment-details .payment-form .payment-button {
    display: inline-block;
    width: 100%;
    margin-top: 12px;
}
.payment-details .payment-form #creditCardContainer {
    margin-bottom: 0;
}
.payment-details .payment-form .payment-btn {
    display: inline-block;
    width: 100%;
    max-width: 335px;
    margin: 0;
    background: #2dbd46;
    border: 1px solid #2dbd46;
    color: #fff;
    border-radius: 2px;
    font-size: 16px;
    outline: 0;
    height: 60px;
    box-shadow: none;
}
.payment-details .payment-form .payment-btn:focus{
    box-shadow: 0 0px 5px 2px #acb9b9;
}
.payment-details .payment-form .payment-button .payment-btn span{
    position: relative;
}
.payment-details .payment-form .payment-button .payment-btn span:before{
    content: "";
    position: absolute;
    background-image: url('https://d1v4btv2rwszby.cloudfront.net/public/images/new_gateway_guarantee_icons.png');
    background-position: -7px 0;
    background-repeat: no-repeat;
    width: 14px;
    height: 19px;
    left: -30px;
}
.guarantee-box  {
    display: inline-block;
    color: #545454;
    max-width: 280px;
    margin: 4px 0 0 20px;

}
.guarantee-box .gur-icon{
    display: inline-block;
    background-image: url('https://d1v4btv2rwszby.cloudfront.net/public/images/new_gateway_guarantee_icons.png');
    background-repeat: no-repeat;
    vertical-align: middle;
    height: 13px;
    width: 12px;
    margin-right: 10px;
}
.payment-details .payment-coupon .payment-coupon-box .payment-coupon-inpt:focus{
    outline: none;
}
.payment-details .payment-coupon .payment-coupon-box .payment-coupon-inpt[disabled]{
    background-color: #fff;
    pointer-events: none;
}
.payment-details .payment-coupon .payment-coupon-box .payment-coupon-inpt::placeholder {
    color: #cacdd0;
}
.guarantee-box .gur-icon.icon-refund{
    background-position: -3px -64px;
}
.guarantee-box .gur-icon.icon-secure{
    background-position: -4px -33px;
}
.guarantee-box .gur-text{
    display: inline-block;
    font-size: 12px;

}
.payment-details .show-input-loader{
    position: relative;
    overflow: hidden;
    border:none;
}
.show-input-loader:before{
    content: '';
    background: #e6e6e6;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    width: 100%;
    z-index: 1;
    pointer-events: all;
}
.show-input-loader:after{
    content: '';
    -webkit-animation: load 1s infinite ease-in-out both;
    -moz-animation: load 1s infinite ease-in-out both;
    -o-animation: load 1s infinite ease-in-out both;
    animation: load 1s infinite ease-in-out both;
    background: #fafafa;
    border-radius: 8px;
    height: 1em;
    margin-top: -0.5em;
    top: 50%;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.payment-details .btn-loader {
    font-size: 20px;
    position: relative;
    width: 4em;
    height: 1em;
    margin: 0 auto;
    display: none;
}
.payment-details .dot {
    width: 12px;
    height: 12px;
    border-radius: 0.5em;
    background: #fff;
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    top: 20%;
}
.payment-details .dot3 {
    left: 1.5em;
}
.payment-details .dot1 {
  animation-name: reveal;
}




.error-message {
    display: none;
    color: red;
    margin-top: 10px;
    padding-left: 24px;
    position: relative;
}
.card-errors{
    padding-left: 24px;
    position: relative;
}
.StripeElement--invalid ~ .card-errors:after,
.error-message:after{
    content: "";
    background: url("https://d1v4btv2rwszby.cloudfront.net/public/images/82277_ic_alert.png") no-repeat top center transparent;
    position: absolute;
    left: 0;
    top: 3px;
    width: 16px;
    height: 14px;
}
.StripeElement--invalid ~ .card-errors{
    margin-bottom: 10px;
}
.error {
    color: red;
}

#card-errors {
    margin-top: 10px;
    color: red;
    display: inline-block;
}

.success {
    display: none;
    font-size: 14px;
}


/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    box-sizing: border-box;

    height: 45px;

    padding: 13px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    border: 1px solid #b9babd;
    box-shadow: none;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.payment-details .payment.success .icon .border {
    stroke: #2dbd46;
}

.payment-details .payment.success .icon .checkmark {
    stroke: #2dbd46;
}

.payment-details .payment.success .title {
    color: #fff;
}

.payment-details .payment.success .message {
    color: #333333;
}

.payment-details .payment.success .reset path {
    fill: #fff;
}

.payment-details.submitted{
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
}
.payment-details.submitted .success,
.payment-details.submitting .success {
    pointer-events: all;
}

.payment-details.submitting .success .icon {
    opacity: 1;
}

.payment-details.submitted .success > * {
    opacity: 1;
    transform: none !important;
}

.payment-details.submitted .success > :nth-child(2) {
    transition-delay: 0.1s;
}

.payment-details.submitted .success > :nth-child(3) {
    transition-delay: 0.2s;
}

.payment-details.submitted .success > :nth-child(4) {
    transition-delay: 0.3s;
}

.payment-details.submitted .success .icon .border,
.payment-details.submitted .success .icon .checkmark {
    opacity: 1;
    stroke-dashoffset: 0 !important;
}


.payment-details .payment.success {
    background-color: #ffffff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    pointer-events: none;
    overflow: hidden;
}

@media (min-width: 670px) {
    .payment-details .payment.success {
        padding: 40px;
    }
}

.payment-details .success > * {
    transition-property: opacity, transform;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0;
    transform: translateY(50px);
}

.payment-details .payment.success .icon {
    margin: 15px 0 30px;
    transform: translateY(70px) scale(0.75);
}

.payment-details .payment.success .icon svg {
    will-change: transform;
}

.payment-details .payment.success .icon .border {
    stroke-dasharray: 251;
    stroke-dashoffset: 62.75;
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: spin 1s linear infinite;
}

.payment-details .payment.success .icon .checkmark {
    stroke-dasharray: 60;
    stroke-dashoffset: 60;
    transition: stroke-dashoffset 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) 0.35s;
}

.payment-details .payment.success .title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #333333;
    font-family: "avenir-black",Times,serif;
}

.payment-details .payment.success .message {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 1.6em;
}

.payment-details .payment.success .message span {
    font-size: inherit;
}

.payment-details .payment.success .reset:active {
    transition-duration: 0.15s;
    transition-delay: 0s;
    opacity: 0.65;
}

.payment-details .payment.success .reset svg {
    will-change: transform;
}














.dot2, .dot3 {
    animation-name: slide;
}
.payment-details .payment-form .payment-btn.submitting-data{
    opacity: 0.7;
    cursor: not-allowed;
}
.submitting-data > span{
    display: none;
}
.submitting-data> .btn-loader{
    display: block;
}
@keyframes reveal {
    from { transform: scale(0.001); }
    to { transform: scale(1); }
}

@keyframes slide {
    to { transform: translateX(1.5em) }
}

/*keyframes*/
@keyframes select-radio {
    0% {
        box-shadow: 0 0 0 0 #91DEAC, inset 0 0 0 2px #FFFFFF, inset 0 0 0 3px #44BB6E, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
    90% {
        box-shadow: 0 0 0 10px #E8FFF0, inset 0 0 0 0 #FFFFFF, inset 0 0 0 1px #44BB6E, inset 0 0 0 2px #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
    100% {
        box-shadow: 0 0 0 12px #E8FFF0, inset 0 0 0 0 #FFFFFF, inset 0 0 0 1px #44BB6E, inset 0 0 0 3px #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
}

@-webkit-keyframes load{
    0% {
        left: 1em;
        width: 0
    }
    50% {
        left: 1em;
        width: 80%
    }
    100% {
        left: 100%;
        width: 0
    }
}

@-moz-keyframes load{
    0% {
        left: 1em;
        width: 0
    }
    50% {
        left: 1em;
        width: 80%
    }
    100% {
        left: 100%;
        width: 0
    }
}

@keyframes load{
    0% {
        left: 1em;
        width: 0
    }
    50% {
        left: 1em;
        width: 80%
    }
    100% {
        left: 100%;
        width: 0
    }
}

/* Gateway */
@media screen and (max-width: 992px){
    .guarantee-box{
        max-width: 335px;
        width: 100%;
        margin: 10px 0 0;
    }
}

/* Gateway */
@media screen and (min-width: 767px){
    .gateway-wrapper .col-left {
        /*width: 70.5%;*/
        float: left;
        padding-left: 0;
        padding-right: 43px;
    }
    .gateway-wrapper .col-right {
        /*width: 29.5%;*/
        float: left;
        padding-right: 0;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .cart-boxes-wrapper .cart-box{
        width: 29.06%;
    }
}

header img{
    margin: 0 auto;
}